/*estilos generales para pagina web con opcion a modificar*/
body {
  background: linear-gradient(180deg, #0a0a0a, #1a1a1a);
  margin: 0;  /*margen para pagina*/
  padding: 0; /*relleno de pagina*/
  overflow-x: hidden;     /* evita scroll horizontal */
  height: 100dvh;
  overflow-y: auto;      /* solo vertical si se necesita automaticamente*/
}


/*animacion dde scan*/
@keyframes scan {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}